@font-face {
    font-family: 'juliussansone_regular';
    src: url("../fonts/juliussansone_regular.ttf");
}

@font-face {
    font-family: 'dinpro_regular';
    src: url("../fonts/dinpro_regular.ttf");
}

@font-face {
    font-family: 'dosis_regular';
    src: url("../fonts/dosis_regular.otf");
}